<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:width="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>Edit Performance</title>
</head>
<body>
<div align="center">
    <h1>Edit laboratory</h1>
    <br />
    <form th:action="@{/student/edit}" th:object="${student}"
          method="post">
        <table border="0">

            <tr>
                <td> <input type="hidden"  th:field="*{sid}"> <label
                        th:if="${#fields.hasErrors('sid')}" th:errors="*{sid}"></label>
            </tr>


            <tr>
                <td> <input type="text" th:field="*{fullName}" > <label
                        th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></label></td>
            </tr>
            <tr>
                <td> <input type="text" th:field="*{email}"> <label
                        th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label></td>
            </tr>
            <tr>

                <td> <input type="text" th:field="*{address}" > <label
                        th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></label></td>
            </tr>
            <tr>
                <select th:field="*{sGroup}">
                    <option th:each="state : ${T(com.example.ilaboratory.domain.GroupNumber).values()}"
                            th:value="${state}"
                            th:text="${state}">
                    </option>
                </select>
            </tr>
            <tr>
                <td>  <input type="text" th:field="*{hobby}"> <label
                        th:if="${#fields.hasErrors('hobby')}" th:errors="*{hobby}"></label></td>
            </tr>


            <tr>
                <td colspan="2"><button type="submit">Save</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>