<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
</head>

<body>

<div align="center">
    <form th:action="@{/login}" method="POST">
        <br/>

        <input type="text" name="userName"/> <br/>
        <input type="password" name="password" /> <br/>

        <div align="center" th:if="${param.error}">
            <p style="font-size: 20; color: #FF1C19;">User Name or Password invalid, please verify</p>
        </div>
        <button  name="Submit" value="Login" type="Submit"
                th:text="Login"></button>
    </form>
    <form th:action="@{/registration}" method="get" >
        <button type="Submit">Create an account</button>
    </form>
</div>
</body>
</html>