<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
</head>
<body>

<form th:action="@{/registration}"
      th:object="${user}" method="post"
      role="form">
    <h2>Registration Form</h2>
        <input type="text" th:field="*{token}" placeholder="Token"> <label
            th:if="${#fields.hasErrors('token')}" th:errors="*{token}"></label>

        <input type="text" th:field="*{userName}" placeholder="User Name"> <label
                th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></label>


        <input type="password" th:field="*{password}" placeholder="Password"> <label
            th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>


    <button type="submit">Register User</button>

    <h2><span th:utext="${successMessage}"></span></h2>

</form>

<form th:action="@{/}" method="get">
    <button type="Submit">Back to Login</button>
</form>


</body>
</html>