<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>attendance Information</title>
</head>
<body>
    <div align="center">

<!--        <input type="hidden"  th:object="${id}">-->
        <table border="1" cellpadding="10">
            <h2>List of attendance</h2>
            <thead>
                <tr>
                    <th>Student Name</th>

                </tr>
            </thead>
            <tbody>
                <tr th:each="attendance : ${attendances}">
                    <td th:text="${attendance.student2!=null}?${attendance.student2.fullName}:'not specified'">Student Name</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>